@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap");

#hanziBox {
  font-family: Tahoma, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid black;
  color: black;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease;
  max-width: 40vw;
  max-height: 80vh;
  overflow-y: auto;
}

#nhanDeDong {
  cursor: pointer;
  color: red;
}

#nhanDeXemYNghia,
#nhanDeXemThongTin {
  cursor: pointer;
  color: blue;
}

.char {
  font-family: "Noto Serif TC", serif !important;
  font-size: 70px;
  padding: 0 !important;
  margin: 0 10px 0 0 !important;
  height: min-content !important;
  width: min-content !important;
}

h3 {
  font-weight: bold !important;
}

p {
  margin: 5px 0 5px 0 !important;
  padding: 0 !important;
  line-height: 1.5 !important;
}

#chuViet {
  display: flex;
  align-items: center;
}
